<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Challenge: Colorful creature</title>
        <style>
            body{
                background-color: rgb(204, 183, 204);
            }
            
            p{
                color: rgb(216, 242, 67);
            }
            
            h1{
                color: rgb(203, 132, 227);
            }
        </style>
    </head>
    <body>
        
        <h1>The coolest creature</h1>
        
        <img src = "https://cdn.kastatic.org/third_party/javascript-khansrc/live-editor/build/images/animals/cat.png" alt = "grey cat glazing through the soul" width = "350">
        
        <p>The <em>cat</em> is not just awesome it is the majestic creature of god because <strong>it is was domesticated a long time ago because of its beauty and unique attitude</strong>.</p>
        
    </body>
</html>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Challenge: Seasonal ids</title>
        <style>
            #summer{
                color: rgb(194, 240, 101);
            }
            
            #winter{
                color: rgb(174, 149, 219)
            }
            
        </style>
    </head>
    <body>
        
        <h1>Olaf's favorite seasons</h1>
        
        <h2 id="summer">Summer</h2>
        <p>He's a happy snowman, doing what frozen things do in summer.</p>
        
        <h2 id="winter">Winter</h2>
        <p>He likes to stay in and cuddle</p>
    </body>
</html>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Challenge: Apples and bananas classes</title>
        <style>
            .apples{
                background-color: rgb(54, 245, 79);
            }
            
            .bananas{
                background-color: rgb(218, 235, 68);
            }
        </style>
    </head>
    <body>

    <h1><strong class="apples">Apples</strong> and <strong class="bananas">Bananas</strong></h1>
    
    <p>
    I like to eat eat eat 
        <strong class="apples">apples</strong> and
        <strong class="bananas">bananas</strong>.<br>
    I like to eat eat eat 
        <strong class="apples">apples</strong> and
        <strong class="bananas">bananas</strong>.<br>
    I like to ate ate ate 
        <strong class="apples">ay-ples</strong> and
        <strong class="bananas">bay-nay-nays</strong>.<br>
    I like to ate ate ate 
        <strong class="apples">ay-ples</strong> and
        <strong class="bananas">bay-nay-nays</strong>.<br>
    I like to eet eet eet
        <strong class="apples">ee-ples</strong> and
        <strong class="bananas">bee-nee-nees</strong>.<br>
    I like to eet eet eet
        <strong class="apples">ee-ples</strong> and
        <strong class="bananas">bee-nee-nees</strong>.<br>
    I like to ite ite ite
        <strong class="apples">i-ples</strong> and
        <strong class="bananas">by-by-nys</strong>.<br>
    I like to ite ite ite
        <strong class="apples">i-ples</strong> and
        <strong class="bananas">by-by-nys</strong>.<br>
    I like to ote ote ote
        <strong class="apples">oh-ples</strong> and
        <strong class="bananas">bo-no-nos</strong>.<br>
    I like to ote ote ote
        <strong class="apples">oh-ples</strong> and
        <strong class="bananas">bo-no-nos</strong>.<br>
    I like to ute ute ute
        <strong class="apples">uupples</strong> and
        <strong class="bananas">bununus</strong>.<br>
    I like to ute ute ute
        <strong class="apples">uupples</strong> and
        <strong class="bananas">bununus</strong>.<br>
    I like to eat eat eat 
        <strong class = "apples">apples</strong> and
        <strong class = "bananas">bananas</strong>.<br>
</p>

    </body>
</html>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Project: Travel webpage</title>
        <style>
            body {
                background-color: rgb(237, 213, 237);
            }
            h1 {
                color: rgb(214, 164, 214);
            }
        </style>
        
    </head>
    <body>
    
        <h1>Travel to Sacotra</h1>
        
        <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Socotra_Mt._Skand.jpg/960px-Socotra_Mt._Skand.jpg" alt = "image of place in Socotra" height = "400">
        
        <p>What makes this island unique is that had been untouched for a long period of time and its wildnature is totally distinct from the rest of the world. <strong><em> <br> For around 80 to 90 percent its nature and animals different from the world</em></strong></p>
        
    </body>
</html>
