* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-container {
    display: flex;
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

/* Стили левой колонки */
.brand-section {
    width: 50%;
    padding-right: 32px;
    margin-bottom: 100px;
}

.logo {
    height: 106px;
    margin: -20px;
}

.brand-section p {
    font-size: 28px;
    line-height: 32px;
    color: #1c1e21;
    font-weight: 500;
}

/* Стили правой колонки (формы) */
.login-section {
    width: 400px;
    text-align: center;
}

.card {
    background: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 28px;
}

input {
    width: 100%;
    height: 52px;
    margin-bottom: 12px;
    padding: 14px 16px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 17px;
    outline: none;
}

input:focus {
    border-color:#166fe5;
    box-shadow: 0 0 0 2px #e7f3ff;
}

/* Кнопки */
.btn-login {
    width: 100%;
    background-color: #166fe5;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 700;
    height: 48px;
    cursor: pointer;
    margin-bottom: 16px;
}

.forgot-link {
    display: block;
    color: #166fe5;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 20px;
}

.forgot-link:hover {
    text-decoration: underline;
}

hr {
    border: none;
    border-top: 1px solid #dadde1;
    margin-bottom: 20px;
}

.btn-new-account {
    background-color: #42b72a;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 700;
    padding: 0 16px;
    height: 48px;
    cursor: pointer;
}

.footer-text {
    font-size: 14px;
    color: #1c1e21;
}

/* Адаптивность для мобильных */
@media (max-width: 900px) {
    .main-container {
        flex-direction: column;
        text-align: center;
    }
    .brand-section {
        width: 100%;
        padding-right: 0;
        margin-bottom: 40px;
    }
    .brand-section p {
        font-size: 24px;
    }
}
